@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif !important;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.pie_chart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie_chart canvas {
  width: 80% !important;
  max-width: 350px;
  height: 80% !important;
  max-height: 375px;
}

@media screen and (min-width: 768px) {
  .pie_chart {
    width: 100% !important;
    max-height: 425px;
  }
  .pie_chart canvas {
    max-height: unset;
    height: unset;
  }
}
