.card__container {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  border: solid 1px #494949;
  border-radius: 5px;
  margin: 5px;

  .image__container {
    img {
      width: 100%;
      pointer-events: none;
      border-radius: 5px;
      height: 198px;
    }
  }

  .card__header {
    h3 {
      font-weight: 500;
    }
    margin-bottom: 5px;
  }

  .card__description {
    text-align: justify;
    font-weight: 200;
    color: #898989;

    height: calc(3 * 1.2em);
    line-height: 1.2em;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card__button {
    button {
      width: 100%;
      outline: none;
      padding: 0.3rem 0;
      margin: 10px 0 0 0;
      border: none;
      border-radius: 5px;
      background-color: #142c40;
      color: white;
      cursor: pointer;
    }
  }
}

.site_detailed_card__container {
  width: 17rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;

  .card__header {
    h3 {
      font-weight: normal;
      padding-bottom: 5px;
    }
  }
  .card__image {
    img {
      width: 100%;
      height: 185px;
      border-radius: 5px 5px 0 0;
      // margin-bottom: 5px;
      pointer-events: none;
    }
  }

  .card__button {
    button {
      width: 100%;
      background: #142c40;
      color: white;
      padding: 0.5rem 0;
      font-size: medium;
      border: none;
      outline: none;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

// .bill-table {
//   border-collapse: collapse;
//   width: 100%;
//   font-size: 1.6rem;

//   th,
//   td {
//     border: 1px solid #dddddd;
//     padding: 1rem;
//     text-align: left;
//   }

//   th {
//     background-color: #f2f2f2;
//   }

//   tr:nth-child(even) {
//     background-color: #f2f2f2;
//   }

//   @media only screen and (max-width: 600px) {
//     font-size: 1.2rem;

//     th,
//     td {
//       padding: 0.5rem;
//     }
//   }

//   .download-button {
//     background-color: #4caf50;
//     border: none;
//     color: white;
//     padding: 0.5rem 1rem;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 1.4rem;
//     margin: 0.5rem;
//     cursor: pointer;

//     @media only screen and (max-width: 600px) {
//       font-size: 1.2rem;
//       padding: 0.3rem 0.8rem;
//     }
//   }
// }
